<footer class="footer-fixed">
  <p class="muted middle">
    <%= t("POWERED_BY")%>
    <img src="/img/legux_logo.png" width="25px" height="25px" align="middle">
    <a href="http://www.legux.com" target="_blank"><%= t("LEGUX_SYSTEMS") %></a>
  </p>
</footer>