<form action='/login/attempt' method='post' class="form-inline well">
  <input name='username' placeholder="<%= t("login.USERNAME") %>" autofocus>
  <input name='password' type="password">
  <input class="btn primary" type='submit' value='<%= t("login.LOGIN") %>'>
</form>